.reponsive-img {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
}

.checkEmpty {
  font-style: italic;
  margin-top: 7px;
  color: #f00;
  font-size: 13px;
  display: block;
}
